<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{job[0]['title']}} - Fake jobs</title>
</head>
<body>
  <h3>Title</h3>
  <p>{{job[0]['title']}}</p> 
  <h3>Location</h3>
  <p>{{job[0]['location']}}</p>
  <h3>{{job[0]['currency']}}{{job[0]['salary']}}</h3>
  {% include 'aplication_form.html' %}
  <!-- <p>{{job.responsibilities}}</p> -->
</body>
</html>